
@{
    ViewBag.Title = "Contact";
    if (Session["nguoiDung"] == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    { Layout = "~/Views/Shared/_UserLayout.cshtml"; }
}

<html>
<head>
    <title>Liên Hệ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <div class="lienhe-title">
            <h1>Xin lỗi!</h1>
        </div>
        <div class="beta-info">
            <h3>Tính năng này đang trong giai đoạn phát triển</h3>
            <h4>Chúng tôi sẽ bổ sung trong những bản cập nhật sau</h4>
            <h2>Cảm ơn các bạn đã ủng hộ Bách Khoa Music!</h2>
        </div>
    </div>
</body>
</html>
