

@{
    ViewBag.Title = "Contact";
    if (Session["nguoiDung"] == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    { Layout = "~/Views/Shared/_UserLayout.cshtml"; }
}
<!doctype html>
<html>
<head>
    <title>Liên hệ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color: white;">
    <div class="container">
        <div class="lienhe-title">
            <h1>Meet the team</h1>
        </div>
        <div class="lienhe-mem">
            <div class="lienhe-mem-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="lienhe-mem-ava">
                            <a href=""><img src="/IMAGE/lienhe-lam.jpg"></a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="lienhe-mem-name">
                            <h3>Nguyễn Thanh Lâm</h3>
                        </div>
                        <div class="lienhe-mem-info">
                            <div class="lienhe-mem-info-cl">
                                <h6>Hệ thống thông tin quản lý</h6>
                            </div>
                            <div class="lienhe-mem-info-id">

                                <p>MSSV : 20162319</p>
                                <p>Ngày sinh : 21/3/1998</p>
                                <p>Gmail : lamnt21398@gmail.com</p>
                                <a href="https://www.facebook.com/lam.nguyenthanh.3158652"><img src="/IMAGE/1280px-Facebook_New_Logo_(2015).svg.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--Lâm-->
            <div class="lienhe-mem-item">
                <div class="row">
                    <div class="col-md-7">
                        <div class="lienhe-mem-name">
                            <h3>Nguyễn Việt Hoàng</h3>
                        </div>
                        <div class="lienhe-mem-info">
                            <div class="lienhe-mem-info-cl">
                                <h6>Hệ thống thông tin quản lý</h6>
                            </div>
                            <div class="lienhe-mem-info-id">

                                <p>MSSV : 20161701</p>
                                <p>Ngày sinh : 6/4/1998</p>
                                <p>Gmail : nvhoang.hust@gmail.com</p>
                                <a href="https://www.facebook.com/wufu.hs"><img src="/IMAGE/1280px-Facebook_New_Logo_(2015).svg.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lienhe-mem-ava">
                            <a href=""><img src="/IMAGE/lienhe-hoang.jpg"></a>
                        </div>
                    </div>
                </div>
            </div><!--Hoàng-->
            <div class="lienhe-mem-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="lienhe-mem-ava">
                            <a href=""><img src="/IMAGE/lienhe-minh.jpg"></a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="lienhe-mem-name">
                            <h3>Nguyễn Hữu Anh Minh</h3>
                        </div>
                        <div class="lienhe-mem-info">
                            <div class="lienhe-mem-info-cl">
                                <h6>Hệ thống thông tin quản lý</h6>
                            </div>
                            <div class="lienhe-mem-info-id">

                                <p>MSSV : 20162733</p>
                                <p>Ngày sinh : 14/11/1998</p>
                                <p>Gmail : lamnt21398@gmail.com</p>
                                <a href="https://www.facebook.com/mihn1"><img src="/IMAGE/1280px-Facebook_New_Logo_(2015).svg.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--Minh-->
        </div>
    </div>
</body>
</html>
