
@{
    ViewBag.Title = "NhacCaNhan";
    if (Session["nguoiDung"] == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    { Layout = "~/Views/Shared/_UserLayout.cshtml"; }

}

<h2 align ="center">@ViewBag.Message</h2>

