
.btn-primary {
color: #fff;
background-color: purple;
border-color: purple;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primaryt.active, .open {
color: purple;
background-color: white;
border-color: white;
}
h1{
	color: white;
}
body{
	background-color:black;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #787474; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #BC47B4; 
}
#myCarousel{
	width: 90%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.navbar-brand{
	width: auto;
	height: auto;
}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
#WPht1-k91imgimage{
	width: 56px;
	height: 59px;
}
#bk{
	font-family: "alex-brush";
	font-size: 30px;
	color: red;	
}
#myNavbar{
	margin-top: 15px;
} 
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin-bottom: auto;
      min-height:200px;
  }
.affix {
      top: 0;
      width: 100%;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      background-color:#232323;
      border-color: black;

  }
  .affix a {
      color: #fff !important;
      padding: 15px !important;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
  }
  .affix-top a {
      padding: 25px !important;
  }
  .affix + .container-fluid {
      padding-top: 95px;
  }
.tile {
	margin-top: 30px;
	margin-bottom: 30px;
}
.tile a  {
	font-family:  Roboto,sans-serif;
	font-weight: 400;
	font-size: 30px;
	text-decoration: none;
}
.tile a:link {
    color:white;
}
.tile a:visited {
    color: white;
}
.tile a:hover {
    color: purple;
}
.tile a:active {
    color: white;
}
* {box-sizing: border-box}
.hovereffect .overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15px;
  padding: 10px;
  text-align: center;
	-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}
.hovereffect img{
	display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
	width: 315px;
	height: 150px;
}
.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}
.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
padding-bottom: 0;
}
.hovereffect:hover .overlay {
  opacity: 1;
	filter:alpha(opacity=100);
}
div.embed-responsive-4by3{
	width: 100%;
    height: 100%;
}
.embed-responsive-16by3{
	width: auto;
    height: auto;
}

.Hotsong{
	margin-top: 30px;
	list-style-type: none;
}
.list-group-item a {
	text-decoration:none
}
.list-group-item a:link {
    color:white;
}
.list-group-item a:visited {
    color: white;
}
.list-group-item a:hover {
    color:purple;
}
.list-group .list-group-item :hover {
    background-color:#A2A2A2;
}
.list-group-item a:active {
    color: white;
}
.casi p{
	color: rebeccapurple;
}
.list-group-item {
	background-color: black;
	border-top: 1px solid #000000;border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
	padding-top: 0;
	padding-bottom: 0;
}
.numb{
	font-size: 40px;
	
}
.numb span{
	color: snow;
}
.info{
	margin-left: 0px;
}

.mv-left iframe{
	width: auto;
	height: auto;
}
.mv-right iframe{
	width: auto;
	height: auto;	
}
#Nghe-si-hot img{
	margin-bottom: 20px;
}
.icon img{
	height: 60px;
	width: 60px;
	padding-top: 7px;
	margin-left: 10px;
}
.nghesi-thumb{
	list-style-type: none;
	padding: 0;
}

.nghesi-name{
	margin-top: 20px;
	margin-right: 60px;
	text-align: center;
}
.nghesi-name a  {
	font-family:  Roboto,sans-serif;
	font-weight: 800;
	font-size: 10px;
	text-decoration: none;
}
.nghesi-name a:link {
    color:white;
}
.nghesi-name a:visited {
    color: white;
}
.nghesi-name a:hover {
    color:#BC47B4;
}
.nghesi-name a:active {
    color: white;
}
.hovereffect-nghesi:hover img {
-ms-transform:scale(1.1);
-webkit-transform:scale(1.1);
transform:scale(1.1);
	
}
.hovereffect-nghesi img{
	display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
	width: 200px;
	height: 200px;
	
}
.hovereffect-nghesi {
margin-top: 20px;
}
.casi-small-icon{
	width: 50px;
	height: 50px;
}
/* Control buttons  */
#nghesiCarousel .carousel-control
{
  background: none;
  color:plum;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#nghesiCarousel .carousel-control.left 
{
  top: 70px;
  left: -110px;
}
/* Next button  */
#nghesiCarousel .carousel-control.right 
{
	top: 70px;
  right: -70px;
}
.nghesi-menu{
	list-style-type: none;
	margin-top: 30px;
	margin-left: -5px;
	
}
.nghesi-menu a  {
	font-family:  Roboto,sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-bottom: 20px;
	padding-left: 35px;
	padding-right: 35px;
	margin: 0px;
	
}
.nghesi-menu a:link {
    color:white;
}
.nghesi-menu a:visited {
    color: white;
}
.nghesi-menu a:hover {
    border-bottom: 2px solid;
	border-bottom-color: purple;
	text-decoration: none;
	color:purple;
}

.nghesi-menu a:active {
    color: white;
}
.casi-small-icon {
	margin-top: 30px;
}
.casi-small-icon img{
	width: 70px;
	height: 70px;
}
.casi-name{
	margin-top: 50px;
	margin-left: 0px;
	
}
.casi-name a  {
	font-family:  Roboto,sans-serif;
	
	font-size: 18px;
	text-decoration: none;
}
.casi-name a:link {
    color:white;
}
.casi-name a:visited {
    color: white;
}
.casi-name a:hover {
    color:#BC47B4;
}
.hovereffect11 {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  margin-bottom: 30px;
}
.hovereffect11 .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
        top: auto;
        bottom: 0;
        padding: 1em;
        height: 4.75em;
        background: #B908D8;
        color:#D726E1;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
}

.hovereffect11 img {
    display: block;
    position: relative;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
   
}

.hovereffect11:hover img {
-webkit-transform: translate3d(0,-10%,0);
        transform: translate3d(0,-10%,0);
}

.hovereffect11 h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background:#8207B0;
        float: left;
        margin: 0px;
        display: inline-block;
}

.hovereffect11 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        margin: 50px 0 0 0;
        background-color: transparent;
}
.hovereffect11 a.info:hover {
    box-shadow: 0 0 5px #fff;
}
.hovereffect11 h2 a {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0,200%,0);
        transform: translate3d(0,200%,0);
}
.hovereffect11:hover .overlay,
.hovereffect11:hover h2 a {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
}
.hovereffect11:hover h2 {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
}
.casi-song img{
	width: 300px;
	height: 300px;
	border-radius: 8px;
}
.casi-list-song img{
	width: 70px;
	height: 70px;
	padding-top: 0px;
	margin-left: -5px;
}
.casi-list-song {
  margin-left: 30px;
  height: 300px;
  overflow: auto;
}
.casi-list-song h4{
	margin-left: -60px;
	padding-left: 0;
}
.casi-list-song p{
	margin-left: -60px;
	padding-left: 0;
}
.taive{
	padding-top: 25px;
}
.intro p{
	font-size: 16px;
	color:#A2A2A2;
}
.baihat-head{
	
	border-top-color: black;
}
.baihat-wall{
	z-index: -1;
	position: absolute;
	background-image: url('IMAGE/wall-sontungMTP.jpg');
	-webkit-filter: brightness(30%);filter: brightness(30%);
	
}
.baihat-head img{
	margin: 50px;
	margin-top: 80px;
	margin-bottom: 80px;
}
.baihat-info {
	font-size: 20px;
	color: white;
}
.baihat-info h2{
	margin-top: 100px;
	font-size: 30px;
}
.baihat-info a  {
	font-family:  Roboto,sans-serif;
	
	font-size: 20px;
	text-decoration: none;
}
.baihat-info a:link {
    color:white;
}
.baihat-info a:visited {
    color: white;
}
.baihat-info a:hover {
    color:#BC47B4;
}
.nghesi-menu button{
	margin-top: -8px;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-right: 20px;
}
.nghesi-VN .nghesi-HQ .nghesi-USUK img{
	border-radius: 8;
}
.logo img{
	margin-left: 270px;
}
.logo a{
	font-family:  Roboto,sans-serif;
	color:#E82226;
	text-decoration: none;
	font-size: 50px;
	margin-left:0;
	margin-top: 20px;
}
.logo {
	margin-top: 30px;
}
.logo .col-md-8{
	margin-top: 15px;
}
.login-fb{
	margin-left: 430px;
}
.form-dangky{
	margin-left: 0;
}
.form-dangky p{
	font-family:  Roboto,sans-serif;
	color:white;
	margin-top: 20px;
	font-size: 20px;
	text-align: center;
}
.button-tailen{
	margin-top: 50px;
	border-style: dashed;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 50px;
}
.button-tailen p{
	font-family:  Roboto,sans-serif;
	color:gray;
	margin-top: 20px;
	font-size: 20px;
	text-align: center;
}
.upload-info h2{
	font-family:  Roboto,sans-serif;
	color:purple;
}
.upload-info p{
	font-family:  Roboto,sans-serif;
	color:white;
}
.ncn-menu{
	list-style-type: none;
	margin-top: 30px;
	margin-left: -5px;
	
}
.ncn-menu a  {
	font-family:  Roboto,sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-bottom: 20px;
	padding-left: 35px;
	padding-right: 35px;
	margin: 0px;
	
}
.ncn-menu a:link {
    color:white;
}
.ncn-menu a:visited {
    color: white;
}
.ncn-menu a:hover {
    border-bottom: 2px solid;
	border-bottom-color: purple;
	text-decoration: none;
	color:purple;
}

.ncn-menu a:active {
    color: white;
}
#footer{
	margin-top: 50px;
	text-align: center;
}
#footer a  {
	font-family:  Roboto,sans-serif;
	
	font-size: 15px;
	text-decoration: none;
}
#footer a:link {
    color:#2A2A2A;
}
#footer a:visited {
    color: #2A2A2A;
}
#footer a:hover {
    color:white;
}
#footer a:active {
    color:#2A2A2A;
}