
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:whitesmoke; font-weight:inherit">ĐĂNG NHẬP</h2>
@*<div class="col-md-8">
    <div style="color:whitesmoke; font-weight:inherit; font-size:large" >ĐĂNG NHẬP</div>
</div>*@
<hr>
<br />
<div class="row">
    <div class="form-dangky">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="beta-info">
                <h3>@ViewBag.ThongBao</h3>
            </div>
            
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label for="email">Tài khoản:</label>
                    <input type="email" class="form-control" id="taikhoan" placeholder="Nhập email" name="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Mật khẩu:</label>
                    <input type="password" class="form-control" id="matkhau" placeholder="Nhập mật khẩu" name="pwd">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="remember"> </label>Nhớ mật khẩu
                </div>
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
            }
        </div>
        <div class="col-md-4"></div>

    </div>
</div>

